// footer
footer.footer
	div.container
		div.footer__logo
			img.footer__img(src='images/Logo.png')
		div.footer__text
			p 2016 Все права защищены.
			p г. Москва, Вознесенский проспект 44 оф 166
		div.socials
			ul.socials__list
				li.socials__item
					a.socials__link.socials__link--facebook(href='#') Facebook
				li.socials__item
					a.socials__link.socials__link--instagram(href='#') Instagram
				li.socials__item
					a.socials__link.socials__link--ok(href='#') OK
				li.socials__item
					a.socials__link.socials__link--twitter(href='#') Twitter
				li.socials__item
					a.socials__link.socials__link--vk(href='#') VK

script(src='/js/foundation.js' defer)
script(src='/js/main.js' defer)
