header.header
    .container
        .header__left
            .header__logo-wrap
                img.header__logo(src='images/Logo.png')
        .header__right
            include ../common/navigation  
