nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href='#') Сладости
        li.navigation__item
            a.navigation__link(href='#') Доставка
        li.navigation__item
            a.navigation__link(href='#') Компания
        li.navigation__item
            a.navigation__link(href='#') Командa
