section.feature
  .container
    .feature__left
      .feature__desc
          .feature__title Почему так вкусно?
          .feature__text В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури
      .feature-items
          ul.feature__list
              li.feature__item Лучшие повора своего дела
              li.feature__item Свежие ингредиенты
              li.feature__item Приготовлено с любовью
